<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>登入</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/layui/css/login.css}">
</head>
<body>
<div class="login-main">
    <header class="layui-elip">登录</header>
    <div class="layui-input-inline">
    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    </div>
    <form class="layui-form" th:action="@{user/login}" method="post">
        <div class="layui-input-inline">
            <label>
                <input type="text" id="username" name="username" required placeholder="用户名" class="layui-input">
            </label>
        </div>
        <div class="layui-input-inline">
            <label>
                <input type="password" id="password" name="password" required  placeholder="密码" class="layui-input">
            </label>
        </div>
        <div class="layui-input-inline login-btn">
            <button class="layui-btn">登录</button>
        </div>
        <hr/>
        <p><a href="regist.jsp" class="fl">立即注册</a><a href="reset_pwd.jsp" class="fr">忘记密码？</a></p>
    </form>
</div>


<script th:src="@{/layui/layui.js}"></script>
</body>
</html>